<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WarehouseConnectionString" connectionString="Host=localhost;Port=5432;Username=this;Password=this;Database=warehouse;" />
		<add name="VegetablesFruit" connectionString="Host=localhost;Port=5432;Username=this;Password=this;Database=vegetable_fruits;" />
		<add name="MyLocalDb" connectionString="Host=localhost;Port=5432;Username=this;Password=this;Database=vegetable_fruits;" />
	</connectionStrings>
</configuration>