<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="WarehouseConnectionString" connectionString="Host=localhost;Port=5432;Username=this;Password=this;Database=warehouse;" />
		<add name="VegetablesFruit" providerName="Npgsql" connectionString="Host=localhost;Port=5432;Username=this;Password=this;Database=vegetable_fruits;" />
		<add name="LocalDbVegetablesFruit" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\C#\homework\Academy_Homework\Academy_Homework\VegetablesFruits.mdf;Integrated Security=True" />
		<add name="Countries" connectionString="Host=localhost;Port=5432;Username=this;Password=this;Database=DBCountries;" />
	</connectionStrings>
</configuration>